<img style="padding-left: 7%" src="assets/Wash.png" id="CarWashed">

<div id="full-size" style="width:100%; display: flex; align-items: center; justify-content: center; padding-left: 35%"  >
  <p id="alerta" *ngIf="authService._isAlert" style="left:auto; top:1px; position:absolute;">
    <ngb-alert class="animate-show animate-hide" style="" type="secondary" >
      {{authService.theError}}
    </ngb-alert>
  </p>
  <div id="loginPart" style="display: flex; align-items: center; justify-content: center; flex-direction: column; ">
    <img class="mb-4" src="assets/LogoBasicCircle.png" id="companyLogo" >

      <h3 class="mb-3" style="padding-bottom: 5%">Forgot your Password?</h3>
      <div class="input-group mb-2">
        <div class="input-group-prepend" >
          <span class="input-group-text addon">
            <fa-icon [icon]="faCircleUser" id="faCircle"  ></fa-icon>
          </span>
        </div>
        <input type="email" class="form-control input-lg rounded-12 mb-3" placeholder="Email Address" #passwordResetEmail required>
      </div>
      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup">
        <input type="submit" class="btn btn-outline-dark" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
      </div>
    </div>
</div>
