<!-- Top navigation -->
<div class="navbar-container">
  <img style="border: 3px groove black ; border-radius: 2Px;" src="assets/LogoBasic.jpg" alt="Logo">
  <div routerLinkActive="true" class="navbar-item"> <a class="nav-link" style="color: black" routerLink="/home">Home</a > </div>
  <div routerLinkActive="true" class="navbar-item"> <a class="nav-link" style="color: black" routerLink="/profile">Profile</a > </div>
  <div routerLinkActive="true" class="navbar-item">About Us</div>
  <div id="logoutbutton" class="navbar-item" ><a  (click)="(authService.SignOut())">Log Out </a></div>
</div>
