<app-dashboard></app-dashboard>
<div id="wrapper">
  <div id="map" #gmap style="width:100%;height:93.3vh;"></div>
  <div id="over_map">
    <div id="whereDiv" style="padding-top: 20px;display: flex">
      <h2 style="display: flex;">Where can we pick your car?</h2>
      <div class="input-group mb-2">
        <div class="input-group-prepend" >
      <span class="input-group-text addon">
        <fa-icon [icon]="faLocation"  ></fa-icon>
      </span>
        </div>
        <input #addresstext
           type="text" class="form-control input-lg rounded-12" autocomplete="location" placeholder="Add a pick-up location" >
      </div>
      <div class="input-group mb-2">
        <div class="input-group-prepend" >
      <span class="input-group-text addon">
        <fa-icon [icon]="faLocation2"  ></fa-icon>
      </span>
        </div>
        <input
          type="location" class="form-control input-lg rounded-12" autocomplete="location" placeholder="What washing station do you prefer"/>
      </div>
    </div>
    <div class="form-group mb-2">
      <input type="button"  class="btn btn-outline-dark" value=" Request " >
    </div>
  </div>
</div>

